<!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="#intro"><img src="/assets/logo.png"></a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#intro">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#works">Works</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

  Pricing Strategy
Financial advisors are remunerated either through fees, commissions, or a combination of both. A financial advisor may be paid in any of the following means; an hourly fee or a flat fee for advisory services.
Hourly billing for financial consulting and advisory services is a long – time tradition in the industry. However, for some types of consultancy services, flat fees make more sense because they allow clients to better predict consultancy costs. As a result, Jepp Davis, LLP will charge our clients a flat fee for many basic financial advisory services.
At Jepp Davis, LLP we keep our fees below the average market rate for all of our clients by keeping our overhead low and by collecting payment in advance. In addition, we also offer special discounted rates to startups, non-profits, cooperatives, and small social enterprises.
For clients that would need regular access to financial consultancy and advisory services and assistance, we offer a flat rate for such services that will be tailored to take care of such clients’ needs.
In terms of client’s accessing funds with financiers, our pricing strategy is based on the amount being raised.




For clients that would need regular access to financial consultancy and advisory services and assistance, we offer a flat rate for such services that will be tailored to take care of such clients’ needs.
In terms of client’s accessing funds with financiers, our pricing strategy is based on the amount being raised.
GHS 500,000 or less, charge is a flat GHS 6,000.00
Above GHS 500,000 – GHS 1,000,000 charge is a flat rate of GHS 7,500.00
Above 1,000,000 – 5,000,000 charge is a flat rate of GHS 12,500.00
Above GHS 5,000,000 charge is 25,000.00 of amount raised.
NB: In the case where the amount is significantly high there will be a review to amend charges to compensate the input.
Amount
Charge for Review in GHS
500,000
6,000.00
>500,000-1,000,000
7,500.00
>1,000,000-5,000,000
12,500.00
>5,000,000
25,000.00
Payment Options
At Jepp Davis, our payment policy will be all inclusive because we are aware that different clients prefer different payment options as it suits them. Here are the payment options that we will make available to our clients;
• Payment by via bank transfer
• Payment via online bank transfer
• Payment via check
• Payment with cash
• Payment via mobile money transfer