<!-- Section: about -->
  <section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">About</h2>
              <div class="divider-header"></div>
              <p>Jepp Davis is an innovative business solutions provider working with SMEs across all sectors in Ghana.</p>
              <br>
              <p>Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.</p>
              <br>
              <p>Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <div class="container">


        <div class="row">
        <div class="text-center"><h2>PARTNERS</h2></div>
        <br>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
              <div class="team-wrapper-overlay">
                <h5>David Agyei</h5>
                <p>CEO.</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
              <div class="team-wrapper-overlay">
                <h5>Tanya Doe</h5>
                <p>COO.</p>
              </div>
              <img src="/assets/14.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
              <div class="team-wrapper-overlay">
                <h5>Heck Steven</h5>
                <p>CTO.</p>
              </div>
              <img src="/assets/15.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
              <div class="team-wrapper-overlay">
                <h5>Adrian Dawn</h5>
                <p>CFO.</p>
              </div>
              <img src="/assets/14.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      <!--<div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s"></h2>
          </div>-->
        </div>
      </div>
    </div>
  </section>

  <!-- Section: services -->
    <!-- Section: services -->
  <section id="service" class="home-section color-dark bg-white"> 
  <div class="container">
    <div class="row text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">SERVICES</h2>
              <div class="divider-header"></div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/portfolio-1.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>BUSINESS ADVISORY</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal1">Find Out</a>
                </div>
            </div>
            <br>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/portfolio-2.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>FINANCIAL ADVISORY</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal2">Find Out</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/portfolio-3.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>INVESTMENT RESEARCH</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal3">Find Out</a>
                </div>
            </div>
            <br>
        </div>       
    </div>
  </div>
</section>
  <!-- /Section: services -->

  
  <section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">PORTFOLIO</h2>
              <div class="divider-header"></div>
              <p></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="owl-works" class="owl-carousel">
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="/assets/q.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/2@2x.jpg"><img src="/assets/w.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/3@2x.jpg"><img src="/assets/e.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/4@2x.jpg"><img src="/assets/r.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/5@2x.jpg"><img src="/assets/t.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/6@2x.jpg"><img src="/assets/y.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/7@2x.jpg"><img src="/assets/u.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/8@2x.jpg"><img src="/assets/i.PNG", class="img-responsive"></a></div>
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/8@2x.jpg"><img src="/assets/o.PNG", class="img-responsive"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  

  <!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            <ul class="slides">
              <li>
                <blockquote>
                  Jeppdavis is the best company for the job. They're effecient and saved me lots of money.
                </blockquote>
                <h4>Daniel Dan <span>&#8213; MA System</span></h4>
              </li>
              <li>
                <blockquote>
                  Since I joined the Jeppdavis team they have doubled my companies valutaion
                </blockquote>
                <h4>Mark Wellbeck <span>&#8213; AC Software </span></h4>
              </li>
              <li>
                <blockquote>
                  Jeppdavis Millionaires club has set me on the right track to a wealthy future.
                </blockquote>
                <h4>David Adafia <span>&#8213; Student. </span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us</h2>
              <div class="divider-header"></div>
              <p>Reach out to us.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+233 (0)50 562 4969 </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>info@jeppdavis.com</p>
            <br>
            <p>
              <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">Send Message</button></a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-clock-o fa-3x mb-3 sr-contact"></i>
            <p>Monday - Friday: 7am - 5pm</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: contact -->
  <br>
  <br>
  <!-- google map -->
  <div id="map-btn1-div">
    <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
        Click here to view map
        </a>
  </div>
  <a id="map-btn2" class="btn btn-skin btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map" title="Close google map" data-toggle="tooltip" data-placement="top">
    WORKSHED, 47 NUNGUA LINK ROAD BAATSONA, SPINTEX ROAD, ACCRA - GHANA
    </a>

  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->


        <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li><a href="#about" class="btn btn-skin" id="btn-scroll" style="text-decoration: none; color: black;">SPARE PARTS</a></li>
                    <li><a href="#about" class="btn btn-skin" id="btn-scroll" style="text-decoration: none; color: black;">CONE HERE</a></li>
                    <li>Category: Illustration</li>
                  </ul>
                  <a data-dismiss="modal">
                    <i class="fa fa-times fa-3"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



      <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <a data-dismiss="modal">
                    <i class="fa fa-times fa-3"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



      <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <a data-dismiss="modal">
                    <i class="fa fa-times fa-3"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
