
  <!-- Section: home video -->
  <section id="intro" class="home-video text-light">
    <div class="home-video-wrapper">

      <div class="homevideo-container">
        <div id="P1" class="bg-player" style="display:block; margin: auto; background: rgba(0,0,0,0.5)" data-property="{videoURL:'https://www.youtube.com/watch?v=8R2-revQoAM',containment:'.homevideo-container', quality: '144p', showControls: false, autoPlay:true, mute:true, startAt:2, opacity:1, speed:0.5}"></div>
      </div>
      <div class="overlay">
        <div class="text-center video-caption">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.8s">
            <h1 class="big-heading font-light"><span id="js-rotating">Jepp Davis Consult, Ghana's leading business solutions provider, Grow your business with us. </span></h1>
          </div> 
          <br>
          <br>
          <div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="1s">
            <div class="margintop-30">
              <a href="#about" class="btn btn-blood" id="btn-scroll" style="color: black;">START HERE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: intro -->


  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="#intro"><img src="/assets/logo.png"></a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#intro">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#works">Works</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

<!-- Section: about -->
  <section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">About</h2>
              <div class="divider-header"></div>
              <p>Jepp Davis is an innovative business solutions provider working with SMEs across all sectors in Ghana.</p>
              <br>
              <p>Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.</p>
              <br>
              <p>Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
              <br>
              <div class="text-center"><%= link_to 'LEARN MORE',about_index_path, :class => "btn btn-blood", :style => "color: black; "%></div>

            </div>
          </div>
        </div>
      </div>

    </div> 
    <br>
    <br>
    <div class="text-center">
      <div class="container">


        <div class="row">
        <div class="text-center"><h2>PARTNERS</h2></div>
        <br>
       
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
              <div class="team-wrapper-overlay">
                <h5>Elikplimi K. Agbloyor, PhD. ACCA.</h5>
                <p>Founder and Senior Partner <br>
                </p>
                
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
            <br>
            <button class="btn btn-blood" data-toggle="modal" data-target="#myModal1" style="color: black;">VIEW PROFILE</button>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
              <div class="team-wrapper-overlay">
                <h5>Peter Salakpi</h5>
                <p>Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
            <br>
            <button class="btn btn-blood" data-toggle="modal" data-target="#myModal2" style="color: black;">VIEW PROFILE</button>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
              <div class="team-wrapper-overlay">
                <h5>David J. Dakurah</h5>
                <p> Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
            <br>
            <button class="btn btn-blood" data-toggle="modal" data-target="#myModal3" style="color: black;">VIEW PROFILE</button>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
              <div class="team-wrapper-overlay">
                <h5>Alfred Kudjordji-Mensah</h5>
                <p>Managing Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
            <br>
            <button class="btn btn-blood" data-toggle="modal" data-target="#myModal4" style="color: black;">VIEW PROFILE</button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“Providing value-adding and innovative business solutions tailored to the needs of businesses in emerging and developing markets”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: services -->
    <!-- Section: services -->
  <section id="service" class="home-section color-dark bg-white"> 
  <div class="container">
    <div class="row text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">SERVICES</h2>
              <div class="divider-header"></div>
              <p>Jepp Davis Consult, LLP offers a variety of business advisory services within the scope of the management consulting industry in Ghana.</p>
              <br>
              <p> The intention of starting our consulting firm is to make profits from the industry and we aim to do all that is permitted by the law to achieve our firm’s goals and objectives.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/bus.png", class="img-responsive">
                <div class="overlay">
                    <h2>FINANCIAL ADVISORY SERVICES</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal1">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/money.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>RESEARCH INVESTMENT AND ADVISORY SERVICES
                        </h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal2">LEARN MORE</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/hello.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>ORGANIZATIONAL RESTRUCTURING</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal3">LEARN MORE</a>
                </div>
            </div>
        </div>        
    </div>
  </div>
</section>
  <!-- /Section: services -->
  
  <section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">PORTFOLIO</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="owl-works" class="owl-carousel">
              <div class="item"><a title="WENTRIM FOODS" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="/assets/wentrim.jpg", class="img-responsive"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  

  <!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            <ul class="slides">
              <li>
                <blockquote>
                  Jeppdavis is the best company for the job. They're effecient and saved me lots of money.
                </blockquote>
                <h4>Daniel Dan <span>&#8213; MA System</span></h4>
              </li>
              <li>
                <blockquote>
                  Since I joined the Jeppdavis team they have doubled my companies valutaion
                </blockquote>
                <h4>James Addai <span>&#8213; Wentrim Foods </span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us</h2>
              <div class="divider-header"></div>
              <p>Reach out to us.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+233 (0)50 562 4969 </p>
            <p>+233 (0)26 881 8105</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>info@jeppdavis.com</p>
            <br>
            <p>
              <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">Send Message</button></a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-clock-o fa-3x mb-3 sr-contact"></i>
            <p>Monday - Friday: 7am - 5pm</p>
          </div>
        </div>
    </div>
  </section>
  <br>
   <section>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2 class="section-title"></h2>
        </div>
      </div>

      <!--<div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button class="btn btn-blood btn-lg btn-block" style="color: black;" type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>-->
    </div>
  </section>
  <!-- /Section: contact -->
  <br>
  <br>
  <!-- google map -->
  <div id="map-btn1-div">
    <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
        Click here to view map
        </a>
  </div>
  <a id="map-btn2" class="btn btn-blood btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map" title="Close google map" data-toggle="tooltip" data-placement="top" style="color: black;">
    47 NUNGUA LINK ROAD BAATSONA, SPINTEX ROAD, ACCRA | Address: F 393/4 Otwe Street, Accra
    </a>

  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->

 


        <!-- Modal 1 -->
    <div class="modal fade" id="portfolioModal1">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FINANCIAL ADVISORY SERVICES</h4>
                </div><!-- end modal-header -->
                <img class="img-fluid img-thumbnail img-responsive" src="/assets/bus.png" alt="">
                <div class="modal-body">
                  <br>
                    <p>
                            <ul><p style="font-size: 1.3em;">
                                <il>•   Accounting & Bookkeeping</il><br>
                                <il>•   Bussiness Valuation & Due Diligence</il><br>
                                <il>•   Mergers and Acqusitions (M&A) advisory.</il><br>            
                                </p>
                            </ul>
                            </p>                              
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">JOIN US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->


 


<div class="modal fade" id="portfolioModal2">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">RESEARCH INVESTMENT AND ADVISORY SERVICES</h4>
                </div><!-- end modal-header -->
                  <div class="col-lg-12 text-center">
                  <img class="img-fluid img-thumbnail img-responsive" src="/assets/money.jpg" alt="">
                  </div>
                <div class="modal-body">
                  <br>
                    <p class="text-center">
                            <ul><p style="font-size: 1.3em;">
                                <il>•   Business plan & Product development</il><br>
                                <il>•   Environmental, Social & Corporate Governance Research.</il><br>
                                <il>•   Conducting Sensitivity Analysis</il><br></p>
                            </ul>
                            </p>                              
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">GROW WITH US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->

    <div class="modal fade" id="portfolioModal3">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Organizational Restructuring</h4>
                </div><!-- end modal-header -->
                  <div class="col-lg-12 text-center">
                  <img class="img-fluid img-thumbnail img-responsive" src="/assets/hello.jpg" alt="">
                  </div>
                <div class="modal-body">
                  <br>
                    <p class="text-center">
                            <ul><p style="font-size: 1.3em;">
                                <il>•   Organizational Restructuring</il><br>
                                <il>•   Repositioning & Rebranding</il><br></p>
                            </ul>
                            </p>                              
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">GROW WITH US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->






  <!-- Modal 1 -->
  <div class="modal left fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Elikplimi Komla Agbloyor, PhD. CA.</h4>
        </div>

        <div class="modal-body">
          <p>Elikplimi Komla Agbloyor is the founder and senior partner at Jepp Davis Consult in charge of the firm’s strategy function and stakeholder relationships. He also advises Jepp Davis’ partners and clients on public policy issues, opportunities and challenges that impact not only the firm, but a broad range of industry sectors.</p>
          <br>
          <p>
          He is a Senior Lecturer in Finance at the University of Ghana Business School and currently an affiliate of the Association of Chartered Certified Accountants (ACCA).</p>
          <br>
          <p>
          His experience spans banking, corporate governance, cross border mergers and acquisitions, financial inclusion, economic growth and international capital flows. His publications have appeared in reputable international journals such as Research in International Business and Finance, Journal of International Financial Markets, Institutions and Money, Thunderbird International Business Review, African Development Review and Review of Development Finance</p>
          <br>
          <p>
          He is an Associate Editor of the African Growth Agenda. He is an External Supervisor at the University of Cape Town and the University of Stellenbosch Business School. Elikplimi also writes periodic articles for Business Monitor International (BMI) which is a global firm that provides country, industry and company analysis covering over 180 countries. He is currently the Board Chairman of TI Microfinance.</p>
          <br>
          <p>
          Elikplimi holds a PhD in Finance, MPhil Finance and BSc, Business Administration, Accounting from the University of Ghana.
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
  <!-- Modal 2 -->
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Peter Salakpi</h4>
        </div>

        <div class="modal-body">
          <p>Peter Salakpi is a partner at Jepp Davis Consult. He has a wealth of experiences having worked with GCB Bank and Universal Merchant Bank (UMB) where he was Head, Credit Adminsitration and Monitoring. His work experienc spans over 10 years in Risk Management.</p>
          <br>
          <p>
          While at UMB, he helped restructure the unit and built a strong team of credit administration and monitoring officers to manage the risk assets bank-wide. He was the team lead-credit risk for the software change from ICBA to Temenos (T24). Peter acted as Director Credit at UMB during the exit of the substantive head from August-November 2015 until the role was filled. He attended board meetings and participated in strategy sessions for the bank during this period.</p>
          <br>
          <p>
          Prior to UMB, he worked at Access Bank Ghana Limited where he started as Head, Credit Administration in charge of credit appraisal, credit operations, credit documentation and monitoring. He later moved to head the Remedial and Loan Recovery Unit and was instrumental in driving down NPL from 16% to 5.2%. During the merger with Erstwhile Intercontinental Bank (Ghana) Limited, Peter played a key role in developing the risk management framework for the merged bank.
          </p>
          <br>
          <p>
            Peter has also worked at the Untied Bank for Africa (UBA-GHANA) performing various roles in credit risk management including Credit Control, Portfolio Reporting and Credit Administration.
          </p>
          <br>
          <p>
            Peter holds an MBA-Project Management from GIMPA Business School. He is also a graduate form the University of Ghana Business School where he obtained first class honors in Bsc Administration-Accounting Option.
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
    <!-- Modal 3 -->
  <div class="modal left fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">David J. Dakurah</h4>
        </div>

        <div class="modal-body">
          <p>David Dakurah is a Partner at Jepp Davis Consult. He is currently Manager in the London Regional Assurance practice of PwC, having joined the firm over 6 years ago.</p>
          <br>
          <p>
          He has acquired progressive experience spanning all facets of accounting, financial reporting, corporate finance and corporate stakeholder management. His experience has been underpinned by strong analytical skills, an innate ability to influence, negotiate and engage with both financial and non-financial stakeholders at all levels.</p>
          <br>
          <p>
          David has also become recognised as a strong team builder, manager and facilitator, committed towards the delivery of service excellence, with a track record of engaging discussions with senior management over the long term strategies and operational challenges. His recent experience has centred on, Skillfully managing reporting accountant teams during transactions, including high-yield bond issuance, debt refinancing and rights issue; Servicing assurance clients (revenues of up to 1.5bn) across various sectors, including professional services, real estate, construction, retail, hospitality, financial services, manufacturing, market research, and trading; Supporting client integration of new acquisitions across acounting frameworks, operations, IT systems; and rationalisation; Counselling FTSE companies regarding financial, accounting, regulatory and risk compliance. 
          </p>
          <br>
          <p>
          David graduated from the University of Ghana Business School in 2007 with a first class in Business Administration (Accounting option), and achieved a distinction in Corporate Finance and Investment from the University of London in 2010. He is also a member of the Associated of Chartered Certified Accountants.
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
      <!-- Modal 4 -->
  <div class="modal left fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Alfred Kudjordji-Mensah</h4>
        </div>

        <div class="modal-body">
          <p>Alfred Kudjordji-Mensah is the partner in charge of finance advisory for Jepp Davis Consult. His expertise spans the areas of entrepreneurial finance, agribusiness management and sustainable and responsible investment.</p>
          <br>
          <p>
          Alfred prior to joining Jepp Davis Co. was a Research Analyst for the Council of Scientific and Industrial Research’s Food Research Institute and also an Investment Analyst at Union Capital Limited.</p>
          <br>
          <p>
          He comes from a multi-cultural background and is fluent in a multiple of local dialects accumulated from relationships with diverse business across regions.</p>
          <br>
          <p>
          Alfred holds a Master’s in Development Finance and BSc. in Agricultural Economics from the University of Ghana.
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->