 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="brand-heading">Jepp Davis</h2>
                        <p class="intro-text">FINANCIAL INSTITUTION.
                            <br>Build your business with us</p>
                        <a href="#about" class="btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
<br>
<br>
    <!-- About Section -->
    <section id="about">
    <br>
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b>ABOUT US</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("1.jpg", class: "img-responsive img-thumbnail img-circle") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WHO WE ARE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jepp Davis is an innovative entrepreneurial solutions provider working with SMEs across all sectors in Ghana.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("2.jpg", class: "img-responsive img-thumbnail img-circle") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">OUR MISSION</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("3.jpg", class: "img-responsive img-thumbnail img-circle") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">OUR VISION</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><b>Be Part
                                    <br>Of Our
                                    <br>Story!</b></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>