 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="brand-heading">JEPP DAVIS</h2>
                        <p class="intro-text">FINANCIAL INSTITUTION.
                            <br>Build your business with us</p>
                        <a href="#about" class="btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about">
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>About Us</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Jepp Davis is an innovative entrepreneurial solutions provider working with SMEs across all sectors in Ghana. We help clients generate sustainable business results and positive social and environmental outcomes all delivered through proven tools and methodologies.</p>
                </div>
                <div class="col-lg-6">
                    <p>Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.
                    Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><i><b>
                        “Providing value-adding and innovative financial solutions tailored to the needs of SMEs in emerging and developing markets” </b></i>
                    </p>
                </div>
                
            </div>
        </div>
    </section>
    <br>
    <br>
</section>