
  <!-- Section: home video -->
  <section id="intro" class="home-video text-light">
    <div class="home-video-wrapper">

      <div class="homevideo-container">
        <div id="P1" class="bg-player" style="display:block; margin: auto; background: rgba(0,0,0,0.5)" data-property="{videoURL:'https://www.youtube.com/watch?v=8R2-revQoAM',containment:'.homevideo-container', quality: '144p', showControls: false, autoPlay:true, mute:true, startAt:2, opacity:0.7, speed:0.5}"></div>
      </div>
      <div class="overlay">
        <div class="text-center video-caption">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.8s">
            <h1 class="big-heading font-light"><span id="js-rotating">Jeep Davis Consult, Ghana's leading business solutions provider, Grow your business with us. </span></h1>
          </div> 
          <br>
          <br>
          <div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="1s">
            <div class="margintop-30">
              <a href="#about" class="btn btn-blood" id="btn-scroll" style="color: black;">START HERE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: intro -->


  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="#intro"><img src="/assets/logo.png"></a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#intro">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#works">Works</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

<!-- Section: about -->
  <section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">About</h2>
              <div class="divider-header"></div>
              <p>Jepp Davis is an innovative business solutions provider working with SMEs across all sectors in Ghana.</p>
              <br>
              <p>Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.</p>
              <br>
              <p>Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
              <br>
              <div class="text-center"><%= link_to 'LEARN MORE',about_index_path, :class => "btn btn-blood", :style => "color: black; "%></div>

            </div>
          </div>
        </div>
      </div>

    </div> 
    <br>
    <br>
    <div class="text-center">
      <div class="container">


        <div class="row">
        <div class="text-center"><h2>PARTNERS</h2></div>
        <br>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
              <div class="team-wrapper-overlay">
                <h5>Elikplimi Komla Agbloyor, PhD. CA.</h5>
                <p>Founder and Senior Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>

          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
              <div class="team-wrapper-overlay">
                <h5>Aliu Mikashini</h5>
                <p>Senior Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
              <div class="team-wrapper-overlay">
                <h5>Alfred Kudjordji-Mensah</h5>
                <p> Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
              <div class="team-wrapper-overlay">
                <h5>Emmanuel Oteng</h5>
                <p>Partner</p>
              </div>
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“Providing value-adding and innovative business solutions tailored to the needs of businesses in emerging and developing markets”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: services -->
    <!-- Section: services -->
  <section id="service" class="home-section color-dark bg-white"> 
  <div class="container">
    <div class="row text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">SERVICES</h2>
              <div class="divider-header"></div>
              <p>Jepp Davis Consult, LLP offers a variety of business advisory services within the scope of the management consulting industry in Ghana.</p>
              <br>
              <p> The intention of starting our consulting firm is to make profits from the industry and we aim to do all that is permitted by the law to achieve our firm’s goals and objectives.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>


    
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/bus.png", class="img-responsive">
                <div class="overlay">
                    <h2>FINANCIAL ADVISORY SERVICES</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal1">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect wow fadeInRight" data-wow-delay="0.4s">
                <img src="/assets/money.jpg", class="img-responsive">
                <div class="overlay">
                    <h2>INVESTMENT RESEARCH & ADVISORY SERVICES</h2>
                    
                    <a class="info portfolio-link" style="text-decoration: none;" data-toggle="modal" href="#portfolioModal2">LEARN MORE</a>
                </div>
            </div>
        </div>        
    </div>
  </div>
</section>
  <!-- /Section: services -->
  
  <section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">PORTFOLIO</h2>
              <div class="divider-header"></div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="owl-works" class="owl-carousel">
              <div class="item"><a title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="/assets/pot.PNG", class="img-responsive"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  

  <!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            <ul class="slides">
              <li>
                <blockquote>
                  Jeppdavis is the best company for the job. They're effecient and saved me lots of money.
                </blockquote>
                <h4>Daniel Dan <span>&#8213; MA System</span></h4>
              </li>
              <li>
                <blockquote>
                  Since I joined the Jeppdavis team they have doubled my companies valutaion
                </blockquote>
                <h4>David Adafia <span>&#8213; HUNT </span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us</h2>
              <div class="divider-header"></div>
              <p>Reach out to us.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+233 (0)50 562 4969 </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>info@jeppdavis.com</p>
            <br>
            <p>
              <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">Send Message</button></a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-clock-o fa-3x mb-3 sr-contact"></i>
            <p>Monday - Friday: 7am - 5pm</p>
          </div>
        </div>
    </div>
  </section>
  <!-- /Section: contact -->
  <br>
  <br>
  <!-- google map -->
  <div id="map-btn1-div">
    <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
        Click here to view map
        </a>
  </div>
  <a id="map-btn2" class="btn btn-blood btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map" title="Close google map" data-toggle="tooltip" data-placement="top" style="color: black;">
    WORKSHED, 47 NUNGUA LINK ROAD BAATSONA, SPINTEX ROAD, ACCRA - GHANA
    </a>

  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->


        <!-- Modal 1 -->
    <div class="modal fade" id="portfolioModal1">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BUSINESS ADVISORY</h4>
                </div><!-- end modal-header -->
                <img class="img-fluid img-thumbnail img-responsive" src="/assets/bus.png" alt="">
                <div class="modal-body">
                    <p>
                            <ul><p>
                                <il>•   Operational Performance Enhancement</il><br>
                                <il>•   Advise businesses on issues of sustainability</il><br>
                                <il>•   Business plan development</il><br></p>
                            </ul>
                            </p>                              
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">JOIN US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->


 


<div class="modal fade" id="portfolioModal2">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FINANCIAL ADVISORY</h4>
                </div><!-- end modal-header -->
                  <div class="col-lg-12 text-center">
                  <img class="img-fluid img-thumbnail img-responsive" src="/assets/money.jpg" alt="">
                  </div>
                  <br>
                <div class="modal-body">
                    <p class="text-center">
                            <ul><p>
                                <il>•   Finding strategic partners or investors</il><br>
                                <il>•   Financial modelling and valuation</il><br>
                                <il>•   Mergers and Acquisitions (M&A) advisory</il><br>
                                <il>•   Accounting and Bookkeeping</il><br>
                                <il>•   Budgeting and Financial Planning</il><br> 
                                <il>•   Wealth management (MC)</il></p>
                            </ul>
                            </p>                              
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">GROW WITH US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->



<div class="modal fade" id="portfolioModal3">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">INVESTMENT RESEARCH</h4>
                </div><!-- end modal-header -->
                  <div class="col-lg-12 text-center">
                  <img class="img-fluid img-thumbnail img-responsive" src="/assets/project.jpg" alt="">
                  </div>
                  <br>
                <div class="modal-body">
                    <p class="text-center">
                            <ul> <p>
                                <il>•   Environmental, Social and Corporate Governance (ESG) Research.<il><br>
                                <il>•   ESG ratings on Listed stocks and Club 100 companies.</il><br>
                                <il>•   Fund of funds (MC)</il></p>
                            </ul>
                            </p>                               
                </div><!-- end modal-body -->
                                          
                <div class="modal-footer">
                <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">JOIN US</button></a>
                </div><!-- end modal-footer -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end myModal -->

