 <!-- Intro Header -->
    <header class="intro">
       
    </header>

<div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
                <h2 class="frame-1">We are second</h2>

                <h2 class="frame-2">TO NONE!</h2>

                <h2 class="frame-3">Lets take your bussiness</h2>

                <h2 class="frame-4">To the next level</h2>

                <h2 class="frame-5"><div>jepp davis</div>
                 <br><span class="text-mute">Advice</span> <span class="text-mute">you can trust</span></h2>
   

        </div>
    </div>
</div>

