<div class="header1">
<br>
<br>
<br>
<br>
<br>
<!-- About Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b>ABOUT US</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/1.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"><b>WHO WE ARE</b></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Jepp Davis is an innovative entrepreneurial solutions provider working with SMEs across all sectors in Ghana.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/assets/2.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"><b>OUR MISSION</b></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/3.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"><b>OUR VISION</b></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><b>Be Part
                                    <br>Of Our
                                    <br>Story!</b></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>