
 <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="#intro"><img src="/assets/logo.png"></a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#intro">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#works">Works</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->
  <br>
  <div id="about"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container">
<div class="text-center" style="font-size: 1.3em">
<h2>EXECUTIVE SUMMARY</h2>
<br>
<p>
Jepp Davis Consult, LLP is a boutique management consulting firm that specialises in providing innovative business solutions for small businesses and is located in Accra, Greater Accra Region, the heart of Ghana’s capital. The firm provides financial advice and financial management, business advisory services to highly esteemed clients.
<br>
<br>
Our services cover areas such as; Financial services consulting, Accounting solutions, Mergers and Acquisitions, Finance modelling, Business valuation and other business-related services.
<br>
<br>
Being aware of the presence of the top giants in management consulting, and the preponderance of small businesses juxtaposed with the numerous challenges they face which are mostly finance related, we have strategically positioned our firm to meet this demand by providing bespoke financial solutions to Micro, Small and Medium Enterprises (MSMEs).
<br>
<br>
Our foundation is built on hard-work focused on achieving goals by meeting the needs of our clients with enthusiasm, knowledge and integrity. We aim to do this at very affordable rates that would not put holes in the pockets of our clients.
<br>
<br>
At Jepp Davis, we ensure a partnership with highly knowledgeable financial advisors who combine sound professional ethics, values and a wealth of experience to provide a wide variety of financial services to achieve sustainable business results and positive social and environmental outcomes all delivered through proven tools and methodologies.
<br>
<br>
Jepp Davis is founded by Elikplimi K. Agbloyor (PhD, ACCA). The firm will be managed by the partners as together, they provide extensive knowledge in business consulting.
</p>
</div>
</div>
<br>
  <!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<div class="container">
<div class="text-center" style="font-size: 1.3em">
<br>
<h3>Company Description</h3>
<p>
<br>
Jepp Davis is an innovative business solutions provider working with SMEs across all sectors in Ghana. We help clients generate sustainable business results and positive social and environmental outcomes all delivered through proven tools and methodologies.
Our focus is to give full financial advisory services to small and medium enterprises developing strategies to get the most value from deals.
<br>
<br>
Jepp Davis is a limited partnership company that can be located at Impact Hub in Accra, Ghana. The company may be contacted by phone: +233(0)268818105, or +233(0)505624969, or web: www.jeppdavis.com or email: info@jeppdavis.com.
Vision Statement
<br>
<br>
Our vision is to create a global consulting firm inspired by entrepreneurship and a unique culture and also to achieve our goals by meeting the needs of our clients with enthusiasm, knowledge and integrity.
Mission Statement
<br>
<br>
Our mission is to provide value-adding and innovative financial solutions tailored to the needs of SMEs in emerging and developing markets. Also, to provide unparalleled professional and trusted financial advisory services that assist individuals and businesses in operating sustainably.
<br>
<br>
Value Proposition
Enterprises no more enjoy longer life span in operation. This is majorly due to the poor financial decisions made by entrepreneurs who have little understanding about how to solve the challenges faced in their businesses. Jepp Davis exists to provide bespoke business solutions to these businesses to ensure they achieve the best business results.
</p>
</div>
</div>
<br>


  <!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“Providing value-adding and innovative business solutions tailored to the needs of businesses in emerging and developing markets”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us</h2>
              <div class="divider-header"></div>
              <p>Reach out to us.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+233 (0)50 562 4969 </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>info@jeppdavis.com</p>
            <br>
            <p>
              <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-blood btn-lg btn-block" style="color: black;">Send Message</button></a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-clock-o fa-3x mb-3 sr-contact"></i>
            <p>Monday - Friday: 7am - 5pm</p>
          </div>
        </div>
    </div>
  </section>
  <!-- /Section: contact -->
  <br>
  <br>
  <!-- google map -->
  <div id="map-btn1-div">
    <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
        Click here to view map
        </a>
  </div>
  <a id="map-btn2" class="btn btn-blood btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map" title="Close google map" data-toggle="tooltip" data-placement="top" style="color: black;">
    WORKSHED, 47 NUNGUA LINK ROAD BAATSONA, SPINTEX ROAD, ACCRA - GHANA
    </a>

  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->