<div class="row" style="background-color: #e2e5e7;">
<br>
<br>
<br>
<br>
<br>

	<div class="col-sm-4" style="background-color: #e2e5e4;">
		<div class="text-center">
			<h2 class="text-center"><b>Contact Us</b></h2>
			<br>
            <p>For companies or startups who seek our services, contact us on the following 
            Call us on <b>0242911291</b>
            <br>For enquiries<b>info@jeppdavis.com</b></p>        
            <h3 class="text-center">Social Media</h3>
            <ul class="list-inline">
                <li>
                    <a href="#" class="btn-social btn-outline" style="background-color: #1b5078;"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-social btn-outline" style="background-color: #1b5078;"><i class="fa fa-fw fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-social btn-outline" style="background-color: #1b5078;"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
            </ul>
        </div>        
	</div>
	<div class="col-sm-4"  style="background-color: #f2e7de;">
		<div class="text-center">
			<h2 class="text-center"><b>Our Location</b></h2>
			<br>
			<p>
				Jeppdavis limited is located in the heart of the Spintex Baatsona. Our office is on the second floor, within the Workshed Co-Working space. When you see the HFC building, you’re in the right place. Walk through the doors, and
				take the elevator to the second floor.
			</p>
        	<p><b>WorkShed</b>
        	<br><b>47 Nungua Link Road Baatsona</b>
        	<br><b>Spintex Road, Accra, Spintex Rd</b>, 
        	<br><b>Spintex Road, Accra</b></p>
        	<br>
        	<br>
    	</div>
	</div>
	<div class="google-maps col-sm-4">		
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div><!-- end tab-pane -->
</div>