<br>
<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-4">
		<div class="row">

		<br>
			<div class="text-center"><h2>Contact Us</h2></div>
			<br>
                    <div class="text-center">
                    <div><p>For companies or business who seek our services contact us on the following </p></div>
                        <p>Call us on <h3>0242911291</h3></p><br>
                        <p>For enquiries email us on<h3>info@jeppdavis.com</h3>
                    </div>
                    <div class="text-center">
                        <h3>Social Media</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline" style="background-color: blue;"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline" style="background-color: blue;"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline" style="background-color: blue;"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
	</div>
	<div class="col-sm-4">
		<br>
		<div class="text-center"><h2>Our Location</h2></div>
		<br>
                    <div class="text-center">
                        <p>P.O.Box AN 16646
                            <br>Accra North Ghana</p>
                    </div>
	</div>
	<div class="col-sm-4">
		<br>
		<div>
								<h2 class="text-center"> Find Us </h2>
								
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div><!-- end tab-pane -->
	</div>
	
</div>